<!-- Created (Sam Yinger 10/18): Directions to Dr. Jim Davis' office. -->
<!-- Updated (Cole Albers 10/19): Added additional styling and altered text slightly. -->

<div class="background">
  <div style="margin-left: 5%; margin-right: 5%">
    <div class="boxed">
      <div class="font_stand" id="h1">Directions to My Office</div>
        <p class="font_stand">Finding your way to The Ohio State University is easy. It is in the center of Columbus,
          slightly north of downtown.</p>
        <p class="font_stand"> I am located in office 491 Dreese Labs, directly adjacent to the
          parking garage. It is the tallest red brick building in the immediate area. It also has a characteristic
          white "spool" on the very top of the building.</p>
        <p class="font_stand">Dreese Labs (building 279) and the parking garage (building 088) are shown on the
          helpful map below (click on it to go to the google maps page for Dreese Labs).<br></p>
    </div>
    <div class="icon-align-center"><a href="https://www.google.com/maps/place/Dreese+Lab/@40.0022304,-83.0168206,18z/data=!3m1!4b1!4m5!3m4!1s0x88388e96732423c1:0xc18a2f8aed8d8b53!8m2!3d40.0022304!4d-83.0157236"><img src="images/mapDreese.png" class= "photoSize" id="map" alt="Dreese"></a></div>
  </div>
</div>
