<!-- Created (David Sinchok 10/18): index.html/landing page -->
<!-- Updated (David Sinchok 10/19): finished adding content, corrected styling/cascading issues,
                                    and fixed the rubymine errors-->

<div class="background">
  <div style="margin-left: 17.5%; margin-right: 17.5%">
    <div style="text-align: center"><h1 class="header">About Me</h1></div>

    <!-- content includes Appointments and the table that follows-->
    <div class="boxed">
      <h2 class="header_small">Appointments</h2>
      <table class="data_table">
        <tr><th>Duration</th><th>Position</th></tr>
        <tr>
          <td>2013 - present
          </td>
          <td>Full Professor, <a href = https://cse.ohio-state.edu/>Dept. of Computer Science and Engineering</a>, OSU
          </td>
        </tr>
        <tr>
          <td>2005-2013
          </td>
          <td>Associate Professor, <a href = https://cse.ohio-state.edu/>Dept. of Computer Science and Engineering</a>, OSU
          </td>
        </tr>
        <tr>
          <td>2000 - 2005
          </td>
          <td>Assistant Professor, <a href = https://cse.ohio-state.edu/>Dept. of Computer Science and Engineering</a>, OSU
          </td>
        </tr>
        <tr>
          <td>2004 - present
          </td>
          <td>Faculty Member, <a href = http://ergonomics.osu.edu>Institute for Ergonomics</a>, OSU
          </td>
        </tr>
        <tr>
          <td>2000 - present
          </td>
          <td>Full Professor, <a href = http://www.cog.ohio-state.edu/>Center for Cognitive Science</a>, OSU
          </td>
        </tr>
        <tr>
          <td>2000 - present
          </td>
          <td>Affiliated Faculty, <a href = http://www.accad.ohio-state.edu/>Advanced Computing Center for the Arts & Design</a>, OSU
          </td>
        </tr>
      </table>

      <!-- content includes Research and the paragraph that follows-->
      <h2 class = "header_small">Research Interests</h2>
      <p class = "para">Prof. Jim Davis, Dept. of Computer Science and Engineering, is developing <b>advanced video surveillance systems</b> that use computers equipped with video cameras to not only detect the presence of people and track them, but also to identify their activities. The research has broad implications for Homeland Security as well as search and rescue, border patrol, law enforcement and many other types of military applications. The systems combine video cameras with machine learning methods, enabling the computer to perform the kind of visual recognition that seems effortless for humans. Davis' work in investigating computer vision methods was recognized by the National Science Foundation with the prestigious NSF Faculty Early Career Development (CAREER) Program award. Support for this research (past and present) has been provided by the National Science Foundation, U.S. Air Force, Los Alamos National Lab, U.S. Army Night Vision Laboratory, Intel, and Ohio Board of Regents. </p>
      <p class = "para">Technical Areas: <a href="http://www.cs.cmu.edu/afs/cs/project/cil/ftp/html/vision.html">Computer Vision</a>, <a href="http://www.visionscience.com/">Visual Perception</a>, <a href="http://www1.acm.org/sigs/sigchi/">Human-Computer Interaction</a>, <a href="http://accad.osu.edu/research/mocap/">Motion Capture</a>, <a href="http://www.aaai.org/">Artificial Intelligence</a> </p>
    </div>

    <!-- content includes Media and Press and the table that follows-->
    <div style="text-align: center"><h1 class="header">Media and Press</h1></div>
    <div class = "boxed">

      <!-- TV/Video + table-->
      <h2 class = "header_small">TV/Video</h2>
      <table class="data_table data_table_header data_row data_cell">
        <tr><th>Publisher</th><th>Title</th></tr>
        <tr>
          <td>NPR</td>
          <td>(WOSU) Interview on "All Sides with Ann Fisher" (aired live 01/20/15)</td>
        </tr>
        <tr>
          <td>NPR</td>
          <td>(WOSU) Interview on "All Sides with Ann Fisher" (aired live 07/03/14)</td>
        </tr>
        <tr>
          <td>iMix, Big10 TV Network</td>
          <td>"Smart Surveillance" (initially aired 7/28/09)</td>
        </tr>
        <tr>
          <td>10TV news (CBS)</td>
          <td>"Smart Technology Being Used at Ohio State" (Aired 07/17/09)</td>
        </tr>
        <tr>
          <td>OSU Video</td>
          <td> "Better Eyes" (released January 9, 2009)</td>
        </tr>
        <tr>
          <td>OSU Video</td>
          <td> "'Smart' Surveillance System May Tag Suspicious or Lost People" (released 12/08)</td>
        </tr>
        <tr>
          <td>Frontline</td>
          <td>"Spying on the Home Front" (Aired 05/15/07)</td>
        </tr>
        <tr>
          <td>Fox-28/ABC-6 News</td>
          <td>"They're Watching You" (Aired 05/10/04)</td>
        </tr>
        <tr>
          <td>Fox-28/ABC-6 News</td>
          <td>Interview on thermal technology (Aired 05/08/03, 05/09/03)</td>
        </tr>
        <tr>
          <td>NBC-4 News</td>
          <td>(aired 05/09/03)</td>
        </tr>
        <tr>
          <td>CBS-10 News</td>
          <td>(aired 05/04/03)</td>
        </tr>
        <tr>
          <td>OSU Video</td>
          <td>"Researcher developing video technology for surveillance: Cameras being trained to `see' people and recognize their activities" (released 04/30/03)</td>
        </tr>
      </table>

      <!-- Radio + table-->
      <h2 class = "header_small">Radio</h2>
      <table class="data_table">
        <tr><th>Publisher</th><th>Title</th></tr>
        <tr>
          <td>NPR</td>
          <td>(WOSU) Interview on "All Sides with Ann Fisher" (aired live 01/20/15)</td>
        </tr>
        <tr>
          <td>NPR</td>
          <td>(WOSU) Interview on "All Sides with Ann Fisher" (aired live 07/03/14)</td>
        </tr>
        <tr>
          <td>AAAS Science Update</td>
          <td>"Internet Video: A new technology could make watching video on the Internet less frustrating" (aired January 12, 2005) <br>[<a href="http://web.cse.ohio-state.edu/~jwdavis/Media/16-InternetVideoStory.mp3">MP3 audio clip</a>], <a href="http://www.scienceupdate.com/january05.html#050112">[web page and audio]</a></td>
        </tr>
      </table>

      <!-- Print + table-->
      <h2 class = "header_small">Print</h2>
      <table class="data_table">
        <tr><th>Publisher</th><th>Title</th></tr>
        <tr>
          <td>Security Dealer & Integrator</td>
          <td>"Eye on Troublesome Patterns," May 25, 2011 <a href="http://www.securityinfowatch.com/Features/eye-troublesome-patterns">[WWW]</a>, <a href="http://web.cse.ohio-state.edu/~jwdavis/Media/SDI-2011.pdf">[PDF]</a></td>
        </tr>
        <tr>
          <td>Popular Mechanics</td>
          <td>"PM's Guide to the Best in Home Surveillance Gear," April 6, 2011 <a href="http://www.popularmechanics.com/technology/gadgets/reviews/pms-guide-to-the-best-in-home-surveillance-gear">[WWW]</a>, <a href="http://web.cse.ohio-state.edu/~jwdavis/Media/PM-2011.pdf">[PDF]</a></td>
        </tr>
        <tr>
          <td>The Why Files: the Science Behind the News</td>
          <td>"Video Surveillance: Who is Watching You, and Why," March 11, 2010 <a href="http://whyfiles.org/323cyberspies/index.php?g=2.txt">[WWW]</a></td>
        </tr>
        <tr>
          <td>Electrical Contractor</td>
          <td>"Surveillance with Smarts," February 2010, p. 50 <a href="http://www.ecmag.com/index.cfm?fa=article&amp;articleID=11200">[WWW]</a></td>
        </tr>
        <tr>
          <td>OSU Alumni Magazine</td>
          <td>Research Report Article, "Eye in the Sky",  May/June, 2009, page 30 <a href="http://web.cse.ohio-state.edu/~jwdavis/Media/alumni09.pdf">[PDF]</a></td>
        </tr>
        <tr>
          <td>OSU News In Engineering</td>
          <td>Research Update article,
            "Intelligent Surveillance Could Aid Law Enforcement", Vol. 81, No. 1, 2009
            <a href="http://web.cse.ohio-state.edu/~jwdavis/Media/nie811.pdf">[PDF]</a></td>
        </tr>
        <tr>
          <td>SPIE Newsroom</td>
          <td>Electronic Imaging &amp; Signal Processing,
            "A Feature-Selection Approach to Fusing Electro-Optical and IR Imagery" (February 25, 2009)
            <a href="http://web.cse.ohio-state.edu/~jwdavis/Publications/SPIE09.pdf">[PDF]</a>
            <a href="http://spie.org/x33833.xml?highlight=x2410&amp;ArticleID=x33833">[WWW]</a></td>
        </tr>
        <tr>
          <td>Photonics Spectra</td>
          <td>Tech News, "Neighborhood Watch, Sans Neighbors" (February, 2009; pp. 18-20) <a href="http://web.cse.ohio-state.edu/~jwdavis/Media/PhotonicsSpectra09.pdf">[PDF]</a></td>
        </tr>
        <tr>
          <td>MSNBC</td>
          <td>Technology &amp; Science, "Computer has eye for Suspicious Behavior" (January 26, 2009)
            <a href="http://web.cse.ohio-state.edu/~jwdavis/Media/MSNBC-09.pdf">[PDF (no pictures)]</a>, <a href="http://www.msnbc.msn.com/id/28566179/">[WWW]</a></td>
        </tr>
        <tr>
          <td>Columbus Dispatch</td>
          <td>"Computers Might Spot People up to no Good" (January 24, 2009)
            <a href="http://web.cse.ohio-state.edu/~jwdavis/Media/dispatch09.pdf">[PDF]</a>, <a href="http://dispatch.com/live/content/local_news/stories/2009/01/24/cameras.ART_ART_01-24-09_B4_5ICLMCL.html?sid=101">[WWW]</a></td>
        </tr>
        <tr>
          <td>onCampus</td>
          <td>Discovery Briefs, "'Smart' Surveillance System May Tag Suspicious or Lost People" (January 8, 2009)
            <a href="http://web.cse.ohio-state.edu/~jwdavis/Media/onCampus-09.pdf">[PDF]</a></td>
        </tr>
        <tr>
          <td>UWeekly</td>
          <td>"Big Brother No, Smart Camera Yes" (February 18, 2009)
            <a href="http://web.cse.ohio-state.edu/~jwdavis/Media/UWeekly-09.pdf">[PDF]</a></td>
        </tr>
        <tr>
          <td>The Lantern</td>
          <td>"Under Surveillance" (January 27, 2009)
            <a href="http://web.cse.ohio-state.edu/~jwdavis/Media/Lantern09b.pdf">[PDF]</a></td>
        </tr>
        <tr>
          <td>The Lantern</td>
          <td>"'Smart' Cameras are Watching You" (January 9, 2009)
            <a href="http://web.cse.ohio-state.edu/~jwdavis/Media/Lantern09.pdf">[PDF]</a></td>
        </tr>
        <tr>
          <td>OSU News Release</td>
          <td>"'Smart' Surveillance System May Tag Suspicious or Lost People" (released 12/08)
            <a href="http://web.cse.ohio-state.edu/~jwdavis/Media/OSU-press-08-print.pdf">[PDF]</a>, <a href="http://researchnews.osu.edu/archive/surveillance/index.htm">[WWW]</a></td>
        </tr>
        <tr>
          <td>The Economist</td>
          <td>Science &amp; Technology section, "Surveillance Technology: If Looks Could Kill", October 23, 2008
            <a href="http://web.cse.ohio-state.edu/~jwdavis/Media/TheEconomist08.pdf">[PDF]</a></td>
        </tr>
        <tr>
          <td>OSU CSE Newletter</td>
          <td>Focus on Research Article, "Jim Davis: Vision for the Future of Surveillance",  Autumn 2007, pages 2-3
            <a href="http://web.cse.ohio-state.edu/~jwdavis/Media/jwdavis-research-cse-07.pdf">[PDF]</a></td>
        </tr>
        <tr>
          <td>OSU Alumni Magazine</td>
          <td>Research Report Article, "Watch the Hands and Face",  May/June, 2005, page 8
            <a href="http://web.cse.ohio-state.edu/~jwdavis/Media/OSAM05.pdf">[PDF]</a></td>
        </tr>
        <tr>
          <td>OSU News In Engineering</td>
          <td>Research Update article,
            "Advancing Technologies for Internet Video", Vol. 77, No. 1, Spring 2005
            <a href="http://web.cse.ohio-state.edu/~jwdavis/Media/NIE_77.1_Spring_2005.pdf">[PDF]</a></td>
        </tr>
        <tr>
          <td>ACM TechNews</td>
          <td>"Researchers Find Way to Make Internet Video More Appealing",
            Vol. 6, Issue 734, December 22, 2004 <a href="http://web.cse.ohio-state.edu/~jwdavis/Media/ACMNewsService.pdf">[PDF]</a>, <a href="http://www.acm.org/technews/articles/2004-6/1222w.html">[WWW]</a></td>
        </tr>
        <tr>
          <td>OSU News Release</td>
          <td>"Researchers find way to make internet video more appealing" (released 12/21/04)
            <a href="http://researchnews.osu.edu/archive/facevid.htm">[WWW]</a></td>
        </tr>
        <tr>
          <td>Homeland Security &amp; Defense</td>
          <td>"HSARPA seeking video software technology to interpret complex surveillance stream",
            Vol. 3, No. 16, April 21, 2004 <a href="http://web.cse.ohio-state.edu/~jwdavis/Media/HSARPA.pdf">[PDF]</a></td>
        </tr>
        <tr>
          <td>Columbus Business First</td>
          <td>Tech Now feature article, "Hot on Surveillance: Thermal technology grows in popularity,
            importance in post-911 world", Vol. 20, No. 7, Oct. 17, 2003
            <a href="http://web.cse.ohio-state.edu/~jwdavis/Media/busFirst03.pdf">[PDF]</a></td>
        </tr>
      </table>
    </div>

    <!-- content includes Recent News and the table that follows-->
    <div style="text-align: center"><h1 class="header">Recent News</h1></div>
    <div class="boxed">
      <div class = "cicle_bullet header_small">
        <a href="#">GRAD AND UNDERGRAD POSITIONS IMMEDIATELY AVAILABLE IN THE COMPUTER VISION LAB [FILLED]</a>

        <!--2014-->
        <h2>2014</h2>
        <ul>
          <li><b>Workshop co-Chair</b>, <i>IEEE Conference on Computer Vision and Pattern Recognition</i> (2014).</li>
        </ul>

        <!--2013-->
        <h2>2013</h2>
        <ul>
          <li>Promoted to Full Professor, September</li>
          <li><b>Program co-Chair</b>, <i>Symposium on Frontiers of Motion Understanding</i> (2013).</li>
        </ul>

        <!--2012-->
        <h2>2012</h2>
        <ul>
          <li>"One-Class Multiple Instance Learning and Applications to Target Tracking" appears in <i>Asian Conference on Computer Vision</i>, November 2012.</li>
          <li>"Segmentation and Scene Modeling for MIL-based Target Localization" appears in <i>International Conference on Pattern Recognition</i>, November 2012.</li>
          <li>Recipient of 2012 OSU College of Engineering <b>Lumley Research Award</b>.</li>
          <li>"Detecting Behavioral Zones in Local and Global Camera Views" appears in <i>Machine Vision and Applications</i> 2012.</li>
        </ul>

        <!--2011-->
        <h2>2011</h2>
        <ul>
          <li>"Recovery and Reasoning about Occlusions in 3D using Few Cameras with Applications to 3D Tracking" appears in <i>International Journal of Computer Vision</i> 2011.</li>
          <li>"Object Association Across PTZ Cameras using Logistic MIL" and "Using Ripley's K-function to Improve Graph-Based Clustering Techniques" appears in <i>IEEE Computer Vision and Pattern Recognition (CVPR)</i> 2011.</li>
        </ul>

        <!--2010-->
        <h2>2010</h2>
        <ul>
          <li><b>Best Paper Award</b>: "Attention-based Target Localization using Multiple Instance Learning", <i>International Symposium on Visual Computing</i>, November 2010.</li>
          <li><b>IEEE Computer Vision and Pattern Recognition Reviewer Award</b> 2010.</li>
          <li>"Exploiting Multiple Cameras for Environmental Pathlets", "Learning Scene Entries and Exits using Coherent Motion Regions", and "Attention-based Target Localization using Multiple Instance Learning" appears in <i>International Symposium on Visual Computing</i>, November 2010.<br></li>
          <li>"PTZ Camera Modeling and Panoramic View Generation via Focal Plane Mapping" appears in <i>Asian Conference on Computer Vision</i>, November 2010.<br></li>
          <li>"Extracting Pathlets From Weak Tracking Data" and "Learning Directed Intention-driven Activities using Co-Clustering"
            appears in <i>IEEE Conference on Advanced Video and Signal Based Surveillance</i>, August 2010.<br>
          <li><b>CSE Teaching Award</b> 2009-2010.</li>
          <li><b>Co-Program Chair</b>, <i>IEEE International Conference on Advanced Video and Signal based Surveillance</i> (Sept. 2010).</li>
        </ul>

        <!--2009-->
        <h2>2009</h2>
        <ul>
          <li><b>Co-General Chair</b>, <i>IEEE Workshop on Motion and Video Computing</i> (Dec. 2009).</li>
          <li><b>iMix, Big10 TV Network</b>, "Smart Surveillance" (initially aired 7/28/09) <a href="http://www.cse.ohio-state.edu/~jwdavis/imix.html">[WWW]</a></li>
          <li><b>10TV news (CBS)</b>, "Smart Technology Being Used At Ohio State" (Aired 07/17/09)
            <a href="http://www.10tv.com/live/content/crimetracker10/stories/2009/07/17/story_osu_security.html?sid=102">[WWW]</a></li>
          <li><b>SPIE Newsroom</b>: Electronic Imaging &amp; Signal Processing,
            "A Feature-Selection Approach to Fusing Electro-Optical and IR Imagery" (February 25, 2009)
            <a href="http://web.cse.ohio-state.edu/~jwdavis/Publications/SPIE09.pdf">[PDF]</a>
            <a href="http://spie.org/x33833.xml?highlight=x2410&amp;ArticleID=x33833">[WWW]</a></li>
          <li><b>MSNBC</b>, Technology &amp; Science, "Computer has eye for Suspicious Behavior" (January 26, 2009)
            <a href="http://web.cse.ohio-state.edu/~jwdavis/Media/MSNBC-09.pdf">[PDF (no pictures)]</a>, <a href="http://www.msnbc.msn.com/id/28566179/">[WWW]</a></li>
          <li><b>Columbus Dispatch</b>, "Computers Might Spot People up to no Good" (January 24, 2009)
            <a href="http://web.cse.ohio-state.edu/~jwdavis/Media/dispatch09.pdf">[PDF]</a>, <a href="http://dispatch.com/live/content/local_news/stories/2009/01/24/cameras.ART_ART_01-24-09_B4_5ICLMCL.html?sid=101">[WWW]</a></li>
        </ul>

        <!--2008-->
        <h2>2008</h2>
        <ul>
          <li><b>The Economist</b>, Science &amp; Technology section, "Surveillance Technology: If Looks Could Kill", October 23, 2008
            <a href="http://web.cse.ohio-state.edu/~jwdavis/Media/TheEconomist08.pdf">[PDF]</a>
          </li>
          <li>"A Fast Linear Registration Framework for Multi-Camera GIS Coordination",
            <i>IEEE International Conference on Advanced Video and Signal Based Surveillance</i>, September 2008.<br>
          </li>
          <li>"3D Occlusion Recovery using Few Cameras" and "A Recursive Filter For Linear Systems on Riemannian Manifolds",
            <i>IEEE Conference on Computer Vision and Pattern Recognition (CVPR)</i>, June 2008, Anchorage, Alaska.<br>
          </li>
        </ul>

        <!--2007-->
        <h2>2007</h2>
        <ul>
          <li>"Integrating Appearance and Motion Cues for Simultaneous Detection and Segmentation of Pedestrians",
            <i>IEEE International Conference on Computer Vision</i> (October, 2007; oral accept rate 3.9%).<br>
          </li>
          <li>OSU CSE Newletter, Focus on Research Article, <b>"Jim Davis: Vision for the Future of Surveillance"</b>,  Autumn 2007, pages 2-3
            <a href="http://web.cse.ohio-state.edu/~jwdavis/Media/jwdavis-research-cse-07.pdf">[PDF]</a>
          </li>
          <li> <img src="images/frontline.jpg" alt="frontline.png">
            Video clips of our research on tracking people in surveillance
            videos shown in <b>Frontline: "Spying on the Home Front"</b> (Aired 05/15/07)
            <a href="http://www.cse.ohio-state.edu/~jwdavis/Media/pbsFrontline-07.asx">[wmv video clip (no audio)]</a>,
            <a href="http://www.pbs.org/wgbh/pages/frontline/homefront/etc/credits.html">credits</a></li>
          <li>"Simultaneous Detection and Segmentation of Pedestrians using Top-down and Bottom-up Processing"
            and "Kernel-Based 3D Tracking", <i>IEEE International Workshop on Visual Surveillance</i>, June 2007.</li>
          <li>"Next Steps in Automatic Video Surveillance", invited seminar at ASIS International Annual Seminars and Exhibits, May 17, 2007 [<a href="http://web.cse.ohio-state.edu/~jwdavis/Media/ASE2007brochure.pdf">brochure</a>].</li>
          <li>"Background-Subtraction using Contour-based Fusion of Thermal and Visible Imagery",
            <i>Computer Vision and Image Understanding</i>, Vol. 106, No. 2-3, 2007, pp. 162-182.</li>
          <li>"An Adaptive Focus-of-Attention Model for Video Surveillance and Monitoring",
            <i>Machine Vision and Applications</i>, Vol. 18, No. 1, 2007, pp. 41-64.</li>
          <li>"Building Adaptive Camera Models for Video Surveillance", <i>IEEE Workshop on Application of Computer Vision</i>, February 2007.</li>
          <li>"Extraction of Person Silhouettes from Surveillance Imagery using MRFs",
            <i>IEEE Workshop on Application of Computer Vision</i>, February 2007.</li>
          <li>"Fusion of Multiple Camera Views for Kernel-Based 3D Tracking",
            <i>IEEE Workshop on Motion and Video Computing</i>, February 2007.</li>
        </ul>

        <!--2006-->
        <h2>2006</h2>
        <ul>
          <li>"Tracking Mean Shift Clustered Point Clouds for 3D Surveillance", and
            "Multiview Fusion for Canonical View Generation based on Homography Constraints"
            <i>ACM Mulimedia Workshop on Video Surveillance and Sensor Networks</i>, October 2006.
          </li>
          <li>"Background-Subtraction in Thermal Imagery Using Contour Saliency", <i>International Journal of Computer Vision</i>, Vol. 71, No. 2, 2007, pp. 161-181.</li>
          <li>"Feature-level Fusion for Object Segmentation using Mutual Information",
            <i>IEEE Workshop on Object Tracking and Classification in and Beyond the Visible Spectrum</i>,
            New York, NY, June 22, 2006.</li>
          <li>"Minimal-Latency Human Action Recognition using Reliable-Inference", <i>Image and Vision Computing</i>, Vol 24, 2006, pp. 455-472.</li>
          <li>Co-Chair, for <a href="http://www.cse.ohio-state.edu/otcbvs/">IEEE Workshop on
            Object Tracking and Classification in and Beyond the Visible Spectrum</a> (OTCBVS), June 22, 2006.</li>
          <li>"Sampling Representative Examples for Dimensionality Reduction and Recognition - Bootstrap
            Bumping LDA", <i>European Conference on Computer Vision (ECCV)</i>, Graz, Austria, May 7-13, 2006.</li>
          <li>"Why Direct LDA Is Not Equivalent to LDA", <i>Pattern Recognition</i>, Vol. 39, 2006, pp. 1002-1006.</li>
        </ul>

        <!--2005-->
        <h2>2005</h2>
        <ul>
          <li><b>Promotion to Associate Professor with Tenure</b> (October 1, 2005).</li>
          <li><b>Guest Editor</b> (w/ Riad Hammoud) for CVIU Special Issue on
            <i>Advances in Vision Algorithms and Systems Beyond the Visible Spectrum</i>.
            [<a href="http://www.cse.ohio-state.edu/cviu-bvs">CALL FOR PAPERS</a>]
          </li>
          <li>"Modeling Behavior Trends and Detecting Abnormal Events using Seasonal
            Kalman Filters", <i>Workshop on Human Activity Recognition and Modeling</i>, Oxford, UK,  September 9, 2005.</li>
          <li>OSU <i>News In Engineering</i> Research Update article:
            "<a href="http://web.cse.ohio-state.edu/~jwdavis/Media/NIE_77.1_Spring_2005.pdf">Advancing Technologies for Internet Video</a>",
            Vol. 77, No. 1, Spring 2005.</li>
          <li>Appointed as <b>Associate Editor</b> for <i>Machine Vision and Applications</i> journal (May 2005).</li>
          <li><i>OSU Alumni Magazine</i> Research Report Article: <a href="http://web.cse.ohio-state.edu/~jwdavis/Media/OSAM05.pdf">"Watch the Hands and Face"</a>,  May/June, 2005, page 8.</li>
          <li>Recipient of 2005 OSU College of Engineering <b>Lumley Research Award</b>.
          </li>
          <li>"Fusion-based Background-Subtraction using Contour Saliency", <i>IEEE Workshop on
            Object Tracking and Classification in and Beyond the Visible Spectrum</i>, San Diego, CA, June 20, 2005.</li>
          <li><a href="http://www.scienceupdate.com/january05.html#050112">AAAS Science Update</a> Radio Feature: "Internet Video: A new technology could make watching video on the Internet less frustrating" (January 12, 2005) [<a href="http://web.cse.ohio-state.edu/~jwdavis/Media/16-InternetVideoStory.mp3">MP3 audio clip</a>].<br>
          </li>
          <li>"A Two-Stage Template Approach to Person Detection in Thermal Imagery",
            <i>Workshop on Applications of Computer Vision</i>,  Breckenridge, Colorado, January 7, 2005.<br>
          </li>
          <li>ACM TechNews Feature "<a href="http://www.acm.org/technews/articles/2004-6/1222w.html">Researchers Find Way to Make Internet Video More Appealing</a>", Vol. 6, Issue 734, December 22, 2004 [<a href="http://web.cse.ohio-state.edu/~jwdavis/Media/ACMNewsService.pdf">pdf</a>].</li>
          <li>OSU News Release (12/21/04): "<a href="http://researchnews.osu.edu/archive/facevid.htm">Researchers find way to make internet video more appealing</a>".</li>
          <li>Benchmark and Website Chair for <a href="http://www.cse.ohio-state.edu/otcbvs/05/">IEEE Workshop on
            Object Tracking and Classification in and Beyond the Visible Spectrum</a> (OTCBVS), June 20, 2005.</li>
          <li>Call for participation in <a href="http://www.cse.ohio-state.edu/otcbvs-bench/">OTCBVS benchmark data collection</a>.</li>
        </ul>

        <!--2004-->
        <h2>2004</h2>
        <ul>
          <li>"Differential Video Coding of Face and Gesture Events in Presentation Videos",
            <i>Computer Vision and Image Understanding</i>, Vol. 96, No. 2, 2004, pp. 200-215.</li>
          <li>"Robust Detection of People in Thermal Imagery", <i>International Conference on Pattern Recognition</i> (August 2004).</li>
          <li><b>NSF ITR grant award ($1.3M)</b> for proposal "Multi-Level, Active Attention Surveillance" (2004-2007).</li>
          <li>"Sequential Reliable-Inference for Rapid Detection of Human Actions",
            <i>IEEE Workshop on Detection and Recognition of Events in Video</i> (July 2004).</li>
          <li>"Robust Background-Subtraction for Person Detection in Thermal Imagery",
            <i>IEEE International Workshop on Object Tracking and Classification
              Beyond the Visible Spectrum</i> (July 2004).</li>
          <li>"Detection and Recognition of Human Activity in Thermal Video", Presentation at U.S. Army Night Vision Laboratory,
            Fort Belvoir, VA, June 28, 2004.</li>
          <li>"Gender Recognition from Walking Movements using Adaptive Three-Mode PCA",
            <i>IEEE Workshop on Articulated and Nonrigid Motion</i> (June 2004).</li>
          <li> <img class="logo" src="images/FOX28logo.gif" alt="FOX28logo"><img class ="logo" src="images/ABC6logo.gif" alt="ABC6logo">
            <b>TV interview:</b> "They're Watching You" (Aired 5/10/04).</li><li>"Video Surveillance of Tomorrow", invited seminar at ASIS International Annual Seminars and Exhibits, May 13, 2004 [<a href="http://web.cse.ohio-state.edu/~jwdavis/Media/ASE2004brochure.pdf">brochure</a>].</li>
          <li>"An Expressive Three-Mode Principal Components Model for Gender Recognition",  <i>Journal of Vision</i>, Vol. 4, No. 5, 2004, pp. 362-377.</li>
          <li>Interview in feature article, "<a href="http://web.cse.ohio-state.edu/~jwdavis/Media/HSARPA.pdf">HSARPA seeking video software technology to interpret complex surveillance stream</a>",
            <i>Homeland Security &amp; Defense</i>, Vol. 3, No. 16, April 21, 2004.
          </li><li>"Representing and Recognizing Human Actions", Presentation at Robotics Institute, Carnegie Mellon University, March 26, 2004.</li>
        </ul>

        <!--2003-->
        <h2>2003</h2>
        <ul>
          <li>"Computer Recognition of Human Actions", Presentation at Siemens Corp., Princeton, NJ, Dec. 15, 2003.</li>
          <li>"Computer Recognition of Human Actions", Presentation at Boston University, Oct. 30, 2003.</li>
          <li>"Computer Recognition of Human Actions", Presentation at University of Illinois at Urbana-Champaign, Oct. 24, 2003.</li>
          <li> Interview in Tech Now feature article, "<a href="http://web.cse.ohio-state.edu/~jwdavis/Media/busFirst03.pdf">Hot on Surveillance: Thermal technology grows in popularity, importance in post-911 world</a>",
            <i>Columbus Business First</i>, Vol. 20, No. 7, Oct. 17, 2003.</li>
          <li>"Recognizing Human Action Efforts: An Adaptive Three-Mode PCA Framework", <i>International
            Conference on Computer Vision (ICCV)</i>, Oct. 13-16, 2003, Nice, France, pp. 1463-1469.</li>
          <li>"An Expressive Three-Mode Principal Components Model of Human
            Action Style",
            <i>Image and Vision Computing</i>, Vol. 21, No. 11, 2003, pp. 1001-1016.</li>
          <li>"A Reliable-Inference Framework for Recognition of Human Actions",
            <i>IEEE International
              Conference on Advanced Video and Signal Based Surveillance (AVSS)</i>, pp. 169-176,
            July 21-22, 2003, Miami, FL.</li>
          <li>OSU <i>News In Engineering</i> article (and cover):
            "<a href="http://www.eng.ohio-state.edu/nie/nie751/751_future_innovators.html">Future Innovators</a>",
            Vol. 75, No. 1, Spring 2003.</li>
          <li>OSU <i>Lantern</i> article: "<a href="http://web.cse.ohio-state.edu/~jwdavis/Media/lantern.pdf">Night Vision:
            Advanced thermal surveillance system used to identify and catalogue motion</a>" (5/12/03).</li>
          <li><b>TV Interviews</b>:
            <ul>
              <li><img class ="logo" src="images/FOX28logo.gif" alt="FOX28logo"><img class ="logo" src="images/ABC6logo.gif" alt="ABC6.logo">
                <b>Fox-28/ABC-6 News</b> (aired 05/09/03, 05/08/03)</li>
              <li><b>NBC-4 News</b> (aired 05/09/03)</li>
              <li><b>CBS-10 News</b> (aired 05/04/03)</li>
            </ul>
          </li>
          <li><b>Press Release</b> (04/30/03): "Researcher developing video technology for surveillance:
            <i>Cameras being trained to `see' people and recognize their activities</i>"</li>
          <li>Recipient of 2003 <b>NSF Career Award</b> (March 2003).</li>
        </ul>

        <!--2002-->
        <h2>2002</h2>
        <ul>
          <li>"A Three-Mode Expressive Feature Model of Action Effort", <i>IEEE Workshop on Motion and Video Computing</i>, Dec. 5-6, 2002, pp. 139-144. <b>[Received a Lockheed-Martin Best Paper Award]</b></li>
        </ul>
      </div>
    </div>
  </div>
</div>